.button {
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 28px;
    line-height: 27px;
    min-width: 64px;
    font-size: 13px;
    background-color: #017a84;
    border: 1px solid #017a84;
    color: #fff;
    text-decoration: none;
}


.banner-content .primary-btn {
    background-color: #017a84;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.banner-area .overlay-bg {
    background-color: #22222261;
}
.primary-btn {
    background: #017a84;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
.header-scrolled .nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #212529;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
#logo {
   z-index: 999;
}
#logo a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
   /* text-transform: uppercase;*/
    outline: none;
}

.header-scrolled #logo a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #212529;
    font-weight: 500;
    font-size: 17px;
    /*text-transform: uppercase;*/
    outline: none;
}

 .dropdown-menu-c {
   
    top: 26px !important;
    
}
.dropdown-menu-c li{
   padding: 10px 0 0 10px;
}
#header.header-scrolled {
    transition: all 0.5s;
    background-color: #fff;
    border-bottom: solid 2px #ced4da;
}
#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 30px;
}
.header-scrolled .sf-arrows .sf-with-ul {
    padding-right: 30px;
}
#nav-menu-container{
	z-index: 900;
}
.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 0px  ; 
}

.nav-menu ul {
    margin: 24px -128px 0px 0px ;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127,137,161,0.25);
    background: #fff;
}

.header-scrolled  .nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}
.nav-menu  li:hover a {
   
    color: #017a84;
    
}
.nav-menu ul ul {
    margin-left: 10px;
    margin-top: 0;
}
.nav-menu ul ul {
    top: 0;
    left: 100%;
}
.nav-menu ul ul li:hover a {
    
    color: #017a84;
    
}

.menu-right {
    position: absolute;
    color: #fff;
    text-align: right;
    width: 1140px;
}
.header-scrolled .menu-right{
    color: #212529;
}

.menu-right .alt-white-ghost {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}
.header-scrolled .menu-right .alt-white-ghost {
    background-color: transparent;
    border: 1px solid #212529;
    color: #212529;
    text-decoration: none;
}



/*.menu-right .nav-menu>li {
    float: left;
}*/
/*banner*/
.banner-content h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 10px;
    color: #fff;
}
.banner-content {
    text-align: center;
}
/*courses*/
.single-popular-carusel{
	border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(184,184,184,.5);
    position: relative;
    cursor: pointer;
     margin-bottom: 25px;
}

.single-popular-carusel .details{
	padding: 0px 0px 1px 10px;
}

.single-popular-carusel .course-2 .details {
    padding: 0px 0px 0px 0px;
}

.single-popular-carusel .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 145px;
    object-fit: cover;
}

.primary-tags {
    margin-top: 30px;
}
.primary-tags a {
     color: #656868;
    /* margin-bottom: 3px; */
    margin-right: 10px;
    font-weight: 400;
    text-decoration: none;
}

.primary-tags a:hover, .primary-tags .active {
    color: #017a84;
    font-weight: 600;
}

.side-sticky-menu-wrapper .side-sticky-menu {
    z-index: 9997;
    background-color: #f7f7f7;
}

 .side-sticky-menu-wrapper .side-sticky-menu .content {
    margin-left: 6px;
}
 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body {
    width: 250px;
    margin: 0 auto;
    position: relative;
}
 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper {
    margin-left: -16px;
    height: 40px;
    line-height: 20px;
    color: #393b41;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
}
.side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
}

 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .section-name {
    width: 256px;
    height: 32px;
    font-size: 12px;
    line-height: 3.8;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #656868;
    border-bottom: #e7e9ec 1px solid;
}
 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper a {
    color: #393b41;
   
}
 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.primary-tag-link-wrapper .primary-tag,  .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.browse-offerings-nav .primary-tag {
    color: #393b41;
}
.side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.primary-tag-link-wrapper.selected .primary-tag, .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.primary-tag-link-wrapper.selected .primary-tag::before, .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.primary-tag-link-wrapper.selected .browse-offerings-link, .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.browse-offerings-nav.selected .primary-tag, .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.browse-offerings-nav.selected .primary-tag::before, .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.browse-offerings-nav.selected .browse-offerings-link {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.primary-tag-link-wrapper.selected,  .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper.browse-offerings-nav.selected {
    background-color: #656868;
    cursor: default;
    border-radius: 4px;
}
 .side-sticky-menu-wrapper .side-sticky-menu .content .content-body .tag-link-wrapper {
    margin-left: -16px;
    height: 40px;
    line-height: 20px;
    color: #393b41;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
}

/*modal*/


.two-panel-signup-popup .two-panel-signup-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.two-panel-signup-popup .two-panel-signup-wrapper .details-column-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 280px;
    background-image: url(../images/signup-modal-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px 0 0 3px;
}

.two-panel-signup-popup .two-panel-signup-wrapper .details-column-wrapper .details-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    border-radius: 3px 0 0 3px;
}

.two-panel-signup-popup .two-panel-signup-wrapper .details-column-wrapper .details-text {
    padding: 30px;
    color: #393b41;
}

.two-panel-signup-popup .two-panel-signup-wrapper .details-column-wrapper .header-separator {
    height: 0;
    width: 30px;
    margin: 20px 0;
    border: 2px solid #393b41;
}

.two-panel-signup-popup .two-panel-signup-wrapper .details-column-wrapper .panel-tos {
    margin-top: 10px;
}

/*.two-panel-signup-popup .two-panel-signup-wrapper .signup-login-column {
    width: 30px;
}*/

.two-panel-signup-popup .form-wrapper {
    padding: 50px 30px 30px 50px;
}

.btn.full-width {
    padding-left: 0;
    padding-right: 0;
   
}
.btn.large, .btn.large-wide {
    min-width: 36px;
    padding: 10px 25px 8px;
}
.btn.fb {
    background-color: #3b5998;
    border-color: #324b80;
}

.signup-form .facebook-logo, .login-form .facebook-logo {
    background-image: url(../images/bg-btn-fb-sm.png);
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.signup-form-wrapper .facebook-signup-button-text, .login-form-wrapper .facebook-signup-button-text {
    
    color: #fff;
}

.signup-form .js-google-login, .signup-form .js-google-signup, .login-form .js-google-login, .login-form .js-google-signup {
    margin-top: 11px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #b4b8b8;
    border: solid 1px #f7f7f7;
}
.btn.full-width {
    padding-left: 0;
    padding-right: 0;
    
}
.btn.large, .btn.large-wide {
    min-width: 36px;
    padding: 10px 25px 8px;
    width: 100%;
}
.btn:hover {
    cursor: pointer;
    color: #fff;
}
.signup-form .google-logo, .login-form .google-logo {
    background-image: url(../images/super-g.png);
    background-size: 17px 17px;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.signup-form-wrapper .googleSignInButtonText, .login-form-wrapper .googleSignInButtonText {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: .2px;
    text-align: left;
  
    color: rgba(0,0,0,.54);
}

.two-panel-signup-popup .signup-form .form-separator, .two-panel-signup-popup .login-form .form-separator {
    margin: 15px 0;

}
.form-separator {
    border-top: 1px solid #f7f7f7;
    height: 1px;
  
}

.form-separator p {
    background: #fff;
    color: #b4b8b8;
    display: block;
    margin: -11px auto;
    text-align: center;
    width: 30px;
}

input[type=text], input[type=password], input[type=number] {
    border: #e7e9ec 1px solid;
    width: 100%;
    height: 38px;
    padding: 0 10px;
    border-radius: 3px;
}
input {
    font-family: proxima nova,arial,sans-serif;
    font-size: 13px;
    margin: 0;
    color: #393b41;
}



/*course detail*/
.video-region {
    background-color: #393b41;
    color: #fff;
    padding: 100px 0px 0 0px;
}
.video-region .course-title-2 {
   padding-bottom: 25px;
}
.video-region ,.video-region  h1,.video-region   h2,.video-region  h3,.video-region  h4,.video-region  h5 , .video-region  a ,.b-name {
   
    color: #fff;
    font-weight: inherit;
}
.header-scrolled .b-name{
    
    color: #212529;
    
}
.video-region  a:hover {
    color: #fff;
}


 .body-link-vdo {
    padding-left: 0px;
    padding-right: 0px;
}
.socila-link{
  padding-top: 10px;
}


.media-left{
  text-align: left;
  font-size: 30px;
}
.media-left-gray{
  color: gray;
}
.media-left-green{
  color: green;
}
.media-body{
  margin-left: 10px;
  padding-top: 8px;
}
.media-body .clock{
  font-size: 12px;
}
.descript-list{
  padding-top: 10px;
}


.body-link-vdo ul li {
    margin-top: 10px;
    /*border-bottom: 1px solid #e8e8e8;*/
}
.body-link-vdo h5{
  color: #fff;
  /*padding: 10px 0 10px 0px;*/
  padding: 25px 0px 3px 0px;
}
.body-link-vdo ul li {
    float: none;
}
.body-link-vdo ul li {
    float: left;
}
.body-link-vdo ul li {
    position: relative;
    display: block;
    padding-bottom: 10px;
    width: 100%;
}

.body-link-vdo ul li:hover , .active-c  {
    background-color: #656868;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.video-region .active-c   a  {
    color: #fff;
}

.sidebar-widgets {
    padding-top: 60px;
    padding-bottom: 25px;
}

.sidebar-widgets  h4, a {
  
    color: #777;
}


/*  */
.bg-circle {
   margin-top: 6px;
    margin-left: 10px;
}
.circle-left {
    background: green;
    height: 30px;
    width: 16px;
    border-bottom-left-radius: 52px;
    border-top-left-radius: 52px;
    margin-right: 12px;
}

.circle-right {
    background: green;
    height: 30px;
    width: 16px;
    border-bottom-right-radius: 52px;
    border-top-right-radius: 52px;
    margin-right: 12px;
}
.circle-full {
    background: green;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}
.circle-none {
    background: #9e9e9e;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details-btn-all{
    width: 140px;
    background: #017a84;
    box-shadow: 0px 10px 20px 0px rgba(60,64,143,0.2);
    border: 1px solid #eee;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
} 
.details-btn-all span{
    margin-left: 0;
    visibility: visible; 
    opacity: 1; 
    margin-right: 8px; 
    color: #fff; 
    font-weight: 600;
}
.details-btn-all:hover{ 
    background-color: #02a4b1; 
} 
.blog-register .title {
    padding-top: 14px;
}

.blog-register .form-group{
    padding-top: 7px;
}
