
@media only screen and (min-width: 1365px) {

	
	.t-mobile {
		display: none;

	}
}
@media only screen and (max-width: 1366px) {
	
	
	.t-mobile {
		display: none;

	}
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	#mobile-nav-toggle {
	    display: inline;
	}
	#mobile-nav-toggle {
	    position: fixed;
	    right: 15px;
	    z-index: 999;
	    top: 18px;
	    border: 0;
	    background: none;
	    font-size: 24px;
	    transition: all 0.4s;
	    outline: none;
	    cursor: pointer;
	}

	  .header-scrolled i {
	    color: #212529 !important;
	    font-weight: 900;
	}

	.menu-right {
	 
	    width: 82%;
	}
	.menu-right {
	    top: 18px;
	}

	/*.header-scrolled #mobile-nav-toggle {
	    color: #212529;
	    
	}*/
}

/*แนวนอน*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	
}


/*แนวตั้ง*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	
}

@media only screen and (max-width: 768px) {

	#homepage .hero-top .hero-overlay, #homepage .hero-top .hero-placeholder, #homepage .hero-top .hero-video {
    display: inline-block;
   }
	


}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	.fullscreen {
	    height: 400px !important;
	}
	.banner-content h1 {
	    font-size: 24px;
	    font-weight: 700;
	    line-height: 1em;
	    margin-top: 60px;
	    color: #fff;
	}

	.single-popular-carusel .course-2 .details {
	    padding: 0px 0px 0px 25px;
	}

	.two-panel-signup-popup .form-wrapper {
	    padding: 50px 0px 0px 5px;
	}

	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	


}
/*//iphone 6,7,8////*/
@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 375px) {
	
}
/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 360px) {

	


}

@media only screen and (max-width: 320px) {

	

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	

	    
}